$gray-1: #6c6c6c !default;
$gray-2: #222222 !default;
$gray-3: #616161 !default;
$gray-4: #3e3e3e !default;
$gray-5: #b2b2b2 !default;
$gray-6: #808080 !default;
$gray-7: #636363 !default;
$grey : #cbcbcb;
$blue: #0096ff !default;
$blue-2: #00a8ff !default;
$white: #ffffff !default;
$white-1: #f0f0f0 ;
$black: #000000 ;